{% extends "myawards/base.html" %} {% block content %}
<div class="container">
     <div class="mx-3 my-3 shadow" >
		<h6 class="text-center">{{project.title | capfirst}}</h6>
		<a class="my-2" href="#">
			<img src="{{project.snapshot.url}}" alt="" class="img-fluid" />
		</a>
		<br />
		<div class="container d-flex justify-content-center p-2">
			<a class="my-3 mx-auto text-center text-light" href="{{project.url}}">
				<button class="text-muted btn btn-info">More details</button>
			</a>
		</div>

		<div class="text-muted my-2 p-2">{{project.description}}</div>
		 <div class="text-muted text-center fw-light bg-info m-3 p-1 rounded-3"
			>{{project.technologies}}</div
		> 
		<div class="lead text-dark text-center fw-light bg-light m-3 p-1 rounded-3"
			>Developed by: {{project.developer}}</div
		>
	</div>
</div>
<div class="container my-3 col-6">
	<div class="h3 text-center">Ratings</div>
	<div class="container">
		<label for="customRange3" class="form-label">Design</label>
		<input type="range" class="form-range" min="0" max="10" step="0.5" id="Design">
	</div>
	<div class="container">
		<label for="customRange3" class="form-label">Usability</label>
		<input type="range" class="form-range" min="0" max="10" step="0.5" id="Usability">
	</div>
	<div class="container">
		<label for="customRange3" class="form-label">Content</label>
		<input type="range" class="form-range" min="0" max="10" step="0.5" id="Content">
	</div>

</div>

{% endblock content %}
