{% extends "myawards/base.html" %} {% block content %}
<div class="content-section">
	<div class="container mx-auto ">
		<div class="container  mx-auto d-flex justify-content-center my-3">
			
			
			{% if user.profile.image %}
			<img
				width="150"
				height="150"
				class="rounded-circle mx-auto"
				src="{{ user.profile.image.url }}"
			/>

			{% else %}
			<img
				width="150"
				height="150"
				class="rounded-circle mx-auto"
				src="http://www.gravatar.com/avatar/?d=mp"
			/>

			{% endif %}
           </div>
           <div class="text-center py-2 fw-bold">{{user.username}}</div>
           <div class="text-center py-2 fw-bold">{{user.email}}</div>
           <a href="{% url 'edit_profile'%}">
               <div class="text-center py-2 mx-auto fw-bold btn btn-outline-secondary">Edit Profile</div>
           </a>
           
     </div>
     <div class="container y-3 d-flex flex-row flex-wrap">
          {% for project in projects %}
               <div class="mx-3 my-3 shadow" style="width: 25em">
                    <h6 class="text-center">{{project.title | capfirst}}</h6>
                    <a class="my-2" href="">
                         <img src="{{project.snapshot.url}}" alt="" class="img-fluid" />
                    </a>
                    <br />
                    <div class="container d-flex justify-content-center p-2">
                         <a class="my-3 mx-auto text-center text-light" href="{{project.url}}">
                              <button class="text-muted btn btn-info">More details</button>
                         </a>
                    </div>

               
                    <div class="lead text-dark text-center fw-light bg-light m-3 p-1 rounded-3"
                         >Developed by: {{project.developer}}</div
                    >
               </div>
          {% endfor %}
</div>
</div>
     </div>
</div>

{% endblock content %}
