<!-- @format -->

{% extends "myawards/base.html" %}{% load crispy_forms_tags %} {% block content %}
<div
	class="container col-md-4 col-lg-3 d-flex flex-column justify-items-center"
>
	<h3 class="fw-bolder text-center">Welcome to Webwwards</h3>

	<div class="container-fluid d-flex flex-column justify-items-center">
		<div class="btn btn-primary"
			><span><i class="bi bi-facebook"></i></span> Login with facebook</div
		>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4 text-center">Sign up</legend>
				{{ form | crispy}}
			</fieldset>
			<div class="form-group container d-flex justify-items-center">
				<button
					class="mx-auto px-3 btn btn-block btn-primary mx-auto"
					type="submit"
					>Sign Up</button
				>
			</div>
		</form>
		<div class="border-top pt-3 text-center">
			<small class="text-muted mx-auto">
				Already Have An Account?
				<a class="ml-2" href="{% url 'login' %}">Sign In</a>
			</small>
		</div>
	</div>
</div>
{% endblock content %}
